# Ignorar pastas de ambiente virtual
venv/
ENV/
.venv/
env/
.env

# Ignorar bytecode do Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignorar arquivos de log e arquivos de depuração
*.log
*.out

# Ignorar arquivos específicos do sistema operacional
.DS_Store
Thumbs.db

# Ignorar pastas específicas de IDEs/editores
.vscode/
.idea/
