<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="stylesheet" href="../static/css/modal_delete.css">
  <link rel="stylesheet" href="../static/css/modal_details.css">
  <script src="../static/js/modal_details.js"></script>
  <script src="../static/js/modal_delete.js"></script>
  {% block extra_css %} {% endblock %}
  <title>{% block title %} PatroCars {% endblock %}</title>
</head>

<body>

  <main>
    <h2>{% block title_page %}{% endblock %}</h2>
    {% block content %}
    {% endblock %}

  </main>

</body>

</html>